<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/login-register-style.css">
</head>
<body>
    <div class="form-container">
        <h1>Login</h1>
        <form action="/maid-match/login" method="POST">
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="/maid-match/register">Register here</a></p>
    </div>
</body>
</html>
